<h1 class="display-4">Shortened Url:</h1>
<p class="lead">https://url-shortener-host.herokuapp.com/{{url.key}}</p>
<p class="mt-4">In a production application, this would translate to <span class="text-success">prettyurl.io/{{url.key}}</span></p>