{{!--Custom single message--}}
{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show">{{success_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger alert-dismissible fade show">{{error_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
    </div>
{{/if}}

{{!--Custom multi-message--}}
{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show">{{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
    </div>
{{/each}}

{{!--Feedback from Passport--}}
{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show">{{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
    </div>
{{/if}}

