<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple app for creating, saving, and sharing polls.</p>
  <hr class="my-4">
  <p>Part of <a href="https://www.freecodecamp.org" target="_blank">Free Code Camp</a> curriculum</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Get started</a>
  </p>
</div>